/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* General styles */

body {
    /* background-color: lightgrey;  */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    display: grid;
}

/* Heading */

.heading {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
}

/* Main */

/* Background Image (Love Running) */

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/0zaq_ag24_210203.jpg") no-repeat center center/cover;
}

/* Game area */

.game-area {
    height: 75vh;
    display: grid;
    align-items: center;
}

#country {

}


/* Question Div */

#question {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
}

.ans-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    max-width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid grey;
    margin-left: 2px;
}

/* Buttons */

.submit {
    text-align: center;
    align-items: center;
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}

.population {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin-left: 2px;
}

.population:hover {
    background-color: rgba(34, 139, 34, 1);
}

#start-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
}

#start-button:hover {
    background-color: rgba(34, 139, 34, 1);
}

#submit-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
}

#submit-button:hover {
    background-color: rgba(34, 139, 34, 1);
}

/* Score Area */

.score-area {
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid grey;
}

#correct {
    color: darkgreen;
    padding-left: 5px;
    padding-right: 5px;
}

#incorrect {
    color: crimson;
}

/* Media query for devices >=480px */
@media screen and (min-width: 480px) {
    body {
        font-size: 110%;
    }
    
    main {
        margin-left: 15%;
        margin-right: 15%;
    }

    .score-area {
        padding-left: 25px;
        padding-right: 25px;
    }

    #question {
        padding-left: 25px;
        padding-right: 25px;
    }

    #box {
        max-width: 140px;
    }
}

/* Media query for devices >=768px */
@media screen and (min-width: 768px) {
    body {
        font-size: 118%;
    }
    
    main {
        margin-left: 20%;
        margin-right: 20%;
    }

    .score-area {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #question {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #box {
        max-width: 160px;
    }
}

/* Media query for devices >=1200px */
@media screen and (min-width: 1200px) {
    body {
        font-size: 125%;
    }
    
    main {
        margin-left: 30%;
        margin-right: 30%;
    }

    .score-area {
        padding-left: 35px;
        padding-right: 35px;
    }
    
    #question {
        padding-left: 35px;
        padding-right: 35px;
    }
    
    #box {
        max-width: 180px;
    }
}