/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* General styles */

body {
    background-color: lightgrey; 
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

/* Heading */

.heading {
    text-align: center;
}

/* Main */

/* Background Image (Love Running) */

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/0zaq_ag24_210203.jpg") no-repeat center center/cover;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

/* Game area */

.game-area {
    height: 70vh;
    display: grid;
}

/* Country Div */

.country {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#start-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: fit-content;
}

/* Question Div */

.question-area {
}

#question {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#box {
    font-family: 'Open Sans', sans-serif;
    max-width: 100px;
}

/* Submit button */

.submit {
    text-align: center;
}

#submit-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: fit-content;
}

/* Score Area */

.score-area {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#correct {
    color: darkgreen;
}

#incorrect {
    color: crimson;
}