/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* General styles */

body {
    /* background-color: lightgrey;  */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

/* Heading */

.heading {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
}

/* Main */

/* Background Image (Love Running) */

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/0zaq_ag24_210203.jpg") no-repeat center center/cover;
}

/* Game area */

.game-area {
    height: 70vh;
    display: grid;
    align-items: center;
}

/* Start Area */

.start-area {
    /* justify-content: space-between;
    align-items: center;
    display: flex; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}

#country {

}

#start-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
}

/* Question Div */

.question-area {
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}

#question {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
}

#box {
    font-family: 'Open Sans', sans-serif;
    max-width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid grey;
}

/* Submit button */

.submit {
    text-align: center;
    align-items: center;
    display: grid;
    justify-content: center;
}

#submit-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
}

/* Score Area */

.score-area {
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid grey;
}

#correct {
    color: darkgreen;
    padding-left: 5px;
    padding-right: 5px;
}

#incorrect {
    color: crimson;
}

/* Media query for devices >=480px */
@media screen and (min-width: 480px) {

}

/* Media query for devices >=768px */
@media screen and (min-width: 768px) {

}

/* Media query for devices >=1200px */
@media screen and (min-width: 1200px) {
}